.Main{
    display: flex;
}



.Name{
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 28px;
    color: #eee;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none !important;
}


.items{
    background-color: #0a6796;
   
    width: 200px;
    height: 100vh;
   text-align: center;
   
}
.user-img img{
    width: 60px;
    border-radius: 100px;
    border: 2px solid #eee;
    margin-top: 30px;
    
}
.headding span{
    color: #eee;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
}
.ItmesName{
    margin-top: 30px;
    
}

.ItmesName li{

 text-align: center;
 padding: 10px;
 
}
/* .ICons{
    padding: 10px;
} */
/* .ItmesName li i{
    color: #eee;
} */

.ItmesName a{
    color: #0a6796;
    text-decoration: none;    
    display: inline-block;
    width: 170px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s;
}
.ItmesName a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;    
    display: inline-block;
    width: 170px;
    background-color: #ffb109;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s;
}
