.box{
    background-color: rgb(12, 156, 192);
    width: 320px;
    height: 360px;

    margin-top: 100px;
    margin-left: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    border-radius: 5px;

}
.SearchBTN{
   background: none;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 70%;
   position: relative;
   top: 8px;
   left: 5px;
 
}
.inputData{
    text-align: center;

}
.inputData input{
    border-radius: 50px;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
    color: rgb(6, 62, 76);
    font-weight: bold;
    border: none;
}
.location{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

.info{
    text-align: center;
    margin-top: 30px;
}