body{
    background-color: whitesmoke;
}

.Rightbar{
    margin-left: 250px;
    margin-top: -776px;
   }

   .Topbar{
    background-color: rgb(255, 255, 255);
    width: 1440px;
    height: 80px;
    box-shadow: 2px 2px 3px gray;
   }
   .LeftICONS{
    display: flex;
   justify-content: space-around;
   width: 300px;
   height: 50px;
   margin-top: 10px;

   }
   .IconItems1{
    background-color: rgb(255, 199, 13);
    padding: 11px;
    text-align: center;
    border-radius: 100%;
   }
   .IconItems2{
    background-color: gray;
    padding: 11px;
    text-align: center;
    border-radius: 100%;
   }
   .IconItems3{
    background-color: gray;
    padding: 11px;
    text-align: center;
    border-radius: 100%;
   }
   .IconItems4{
    background-color: gray;
    padding: 11px;
    text-align: center;
    border-radius: 100%;
   }
   .RightUser{
    display: flex;
   justify-content: end;

   margin-top: -50px;
   }
   .Cart1{
    background-color: rgb(252, 252, 252);
    width: 250px;
    height: 100px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px gray;
   }
   .ItemBg{
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 50%;
   }