nav{
    background-color: rgb(5, 71, 73);
  
}
.Navbar{
    position: relative;
    top: 0px;
}


.CompanyName{
    color:  whitesmoke;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
li a{
    text-decoration: none;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
navbar-toggler{
    border: none;
}