.Saidebar{
    position: fixed;
    background-color: #2d3436;
    width: 200px;
    height: 4990px;
    padding: 10px;
   
}


.Msarch{
   
    margin-top: -40px;
    margin-left: 150px;
    margin-bottom: 20px;
    
   
}
input{
    width: 140px;  
    border-style: none;  
   border-bottom: 3px solid rgb(253, 10, 107);
    background-color:#2d3436;
    color: rgb(255, 255, 255);

}

.Input{
    margin-top: 10px;
    margin-left: 20px;
    
    
}
.Box1{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    color: aliceblue;
    text-decoration: none;
    
    padding: 20px;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 20px;
}
.LOGIN{
    cursor: pointer;
    position: relative;
    top: 30px;
    left: -30px;
}

.main{
    display: flex;
  
}

span{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Cards{
    display: inline-block;
    margin:10px;
   
    margin-right: 20px;
    padding: 5px;

}
.MButtons{
    display: flex;
    justify-content: space-right;
    margin-left: 500px;
    width: 90%;
 
}
.Sport{
    position: absolute;
    margin-left: 200px;

}







#login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


 





