.MainFooter{
    background-color:#581845 ;
}


p{
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    line-height: 0.2;
    margin-top: 5px !important;
}
.Name{
    color: white;
    font-weight: 100px;
    
}
.Name:hover{
    background-color: white;
    color: #581845;
    padding: 5px;
    border-radius: 5px;
}
.Cospanpy{
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    line-height: 0.2;
    margin-top: 5px !important;
}

@media (min-width: 350px) {
    p{
        
        margin-right: 0px !important;
        color: whitesmoke;
        padding: 10px;
        line-height: 0.2;
        margin-top: 5px !important;
    
    }
    .Cospanpy{
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
    .Name{
        margin-right: -375px !important;
    }

    .FooterLast{
        margin-left: 0px !important;
    }
   
  
   
    
  

  }